body {
  background-color: hsl(0, 0%, 8%);
}

h1,
.p2 {
  color: white;
}
.p1 {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
  font-size: 14px;
}

.page-container {
  background-color: hsl(0, 0%, 12%);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  max-width: 500px;
}

.page-container ul {
  list-style: none;
}
ul .box {
  border: 1px solid black;
  border-radius: 7px;
  padding: 12px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  font-size: large;
  font-weight: bold;
}
