body {
  background-color: hsl(0, 0%, 8%);
  /* padding: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1,
.p2 {
  color: white;
}
.p1 {
  color: hsl(75, 94%, 57%);
  font-weight: bold;
}

.page-container {
  background-color: hsl(0, 0%, 12%);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  /* max-width: 400px; */

  transform: scale(0.8); /*scales down everything inside*/
  transform-origin: center; /*keeps it centered while scaling */
}

.page-container ul {
  list-style: none;

  /*center ul*/
  padding-left: 0;
  margin-left: 0;
  padding: 30px;
}

ul .box {
  border: 1px solid black;
  border-radius: 7px;
  padding: 12px 80px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  font-size: large;
  font-weight: bold;
  text-align: center;
}
ul .box:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
  color: hsl(0, 0%, 20%);
}

img {
  border-radius: 50%;
}
.attribution {
  color: white;
}

/*Mobile Responsive*/
@media (max-width: 600px) {
  .page-container {
    max-width: 100%;

    margin: 0 auto;
  }

  /* .img-fluid {
    max-width: 100%;
    height: auto;
  } */
}
